body, html{

	box-sizing: border-box;
	height: 100%;
	
}
body{
	width: 100%;
	margin: 0px;
	padding: 0;
	background : linear-gradient(0deg, rgba(0, 132, 180, 1) 0%, rgba(0, 144, 197, 1) 27.75%, rgba(0, 172, 237, 1) 100%);
}
.wrap{
	width: 100%;
	display: flex;

	justify-content: center;
	align-items: center;

	margin: 3vh 0 3vh 0;

}

#myCanvas{
	width: 1800px;
	height: 50vh;
	



}
#statWrapper {
	margin: 0 auto;
	padding-top: 20px;
	width: 97vw;
	height: 5vh;
	/*background-color: #C0DEED;*/ 
}
#legendWrapper {
	margin: 0 auto;
	width: 97vw;
	height: 20vh;
/*	background-color: #C0DEED;*/ 

	display: grid;
	grid-template-columns: 50px 1fr 50px 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: "gold goldLeg red redLeg"
						 "silver silverLeg blue blueLeg"
						 "bronze bronzeLeg green greenLeg"
						 "washer washerLeg purple purpleLeg"

}
#legendWrapper>div {
	background-position: 50% 50%;
}

h3{
	font-family: Lato;
	color: white;
}

.item4{grid-area: gold}
.item5{grid-area: silver}
.item6{grid-area: bronze}
.item7{grid-area: washer}
.item8{grid-area: red}
.item9{grid-area: blue}
.item10{grid-area: green}
.item11{grid-area: purple}
.item12{grid-area: goldLeg}
.item13{grid-area: silverLeg}
.item14{grid-area: bronzeLeg}
.item15{grid-area: washerLeg}
.item16{grid-area: redLeg}
.item17{grid-area: blueLeg}
.item18{grid-area: greenLeg}
.item19{grid-area: purpleLeg}

.goldCoin{
	background: url(../assets/Twitter_Gold_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.silverCoin{
	background: url(../assets/Twitter_Silver_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.bronzeCoin{
	background: url(../assets/Twitter_Bronze_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.washerCoin{
	background: url(../assets/Twitter_Washer_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.redCoin{
	background: url(../assets/Twitter_Red_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.blueCoin{
	background: url(../assets/Twitter_Blue_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.greenCoin{
	background: url(../assets/Twitter_Green_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.purpleCoin{
	background: url(../assets/Twitter_Purple_Coin.png);
	background-repeat: no-repeat;
	background-position: center left;
}

header {
	margin: 0 auto;
	width: 97vw;
}
#logo {
	height: 6vh;
	margin: 2vh 0 2vh 0;
}

.inputWrapper{

	display: grid;
	grid-template-columns: 150px 400px 60px;
	grid-template-rows: 40px;
	grid-column-gap: 10px; 
	grid-template-areas:"a b c"
}

.item1{grid-area: a}
.item2{grid-area: b}
.item3{grid-area: c}

h2{
	font-family: Lato;
	color: white;
	font-weight: lighter;
	font-size: 2em;
	margin: 0;
	padding: 0;
}

input[type=text] {
	height: 40px;
	padding-left: 35px;
	background-image: url("../assets/aticon.png");
	background-size: contain; 
    background-repeat: no-repeat;
    font-size: 2em;
    font-family: Lato;
    border: none;
	background-color: #0084B4;
	color: white;
}
input[type=text]:focus {
	border: 3px solid white;
    border-radius: 5px;
}


button{
	border: none;
	background-color: transparent;
	background-image: url("../assets/submitbutton.png");
	background-size: contain; 
    background-repeat: no-repeat;

}

button:hover {
	background-image: url("../assets/submitbutton_hover.png");
}
button:active {
	background-image: url("../assets/submitbutton_click.png");
}

